section.offer.contacts {
  padding-bottom: 100px;
  background-size: 2000px 705px;
}

section.offer.contacts .offer-main-wrapper p {
  font-size: 18px;
}

section.offer.contacts .offer-main-wrapper {
  width: 505px;
}

section.offer.contacts .offer-prohibits-img img {
  max-width: 300px;
  margin-bottom: 25px;
}

section.offer.contacts .btn-item {
  margin: 25px auto 10px;
}

section.offer.contacts .btn-item:hover {
  background-color: #5b85f1;
  color: #fff;
}

section.offer.contacts .offer-prohibits-item p {
  font-size: 17px;
}

section.offer.contacts .offer-prohibits-item h3 {
  margin: 18px 15px 24px;
}

@media (min-width: 1921px) {
  section.offer.contacts {
    background-size: contain;
  }
}

@media (max-width: 992px) {
  section.offer.contacts .offer-main-wrapper {
    width: 100%;
  }
}

@media (max-width: 767px) {
  section.offer.contacts {
    padding-bottom: 60px;
  }
}