.no-webp .page-head {
  background-image: url("../img/bg-offer.png"); }

.page-head {
  margin-top: 0;
  background-repeat: no-repeat;
  padding: 80px 0 160px;
  background-size: cover;
  background-position-y: bottom;
  color: #fff;
}

.page-head .container {
  height: 100%;
}

.page-head .page-head-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.page-head .page-head-title {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

section.privacy {
  margin: 70px 0 90px;
}

.privacy-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 40px 45px;
}

.privacy-wrapper h2,
.privacy-wrapper h3,
.privacy-wrapper h4,
.privacy-wrapper h5,
.privacy-wrapper h6 {
  font-size: 28px;
  color: #5b85f1;
  text-align: center;
  margin-bottom: 13px;
}

.privacy-wrapper p {
  line-height: 140%;
  margin-bottom: 25px;
}

@media (min-width: 1921px) {
  .page-head {
    background-size: cover;
  }
}

@media (max-width: 992px) {
  .page-head {
    height: 250px;
  }

  .page-head .page-head-wrapper {
    padding-top: 45px;
  }

  .page-head .page-head-title {
    font-size: 45px;
    margin-bottom: 15px;
  }

  section.privacy {
    margin: 50px 0 70px;
  }
}

@media (max-width: 767px) {
  .page-head {
    background-position-y: top;
    background-size: 767px 300px;
    height: 170px;
  }

  .page-head .page-head-wrapper {
    padding-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-head .page-head-title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  section.privacy {
    margin: 40px 0 55px;
  }

  .privacy-wrapper {
    padding: 25px 30px;
  }

  .privacy-wrapper h2,
  .privacy-wrapper h3,
  .privacy-wrapper h4,
  .privacy-wrapper h5,
  .privacy-wrapper h6 {
    font-size: 23px;
  }
}

@media (max-width: 576px) {
  section.privacy {
    margin: 0;
  }

  section.privacy .container {
    padding: 0;
  }

  .privacy-wrapper {
    border-radius: 0;
    padding: 25px 15px;
  }
}

.webp .page-head { background-image: url(../img/bg-offer.webp); }