.header-big {
  position: absolute;
  display: none;
  top: 105px;
  left: 0;
  width: 100%;
  padding: 48px 100px 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.header-big h5 {
  color: #616161;
  font-size: 20px;
  font-weight: 400;
}

.header-big-close {
  position: absolute;
  right: 40px;
  top: 36px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #fff;
  border-radius: 2px;
}

.header-big-close:hover {
  opacity: 0.5;
}

.header-big-add-link {
  color: #5B85F1;
  padding-right: 50px;
}

.header-big-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  margin: 27px 0;
  border-top: 1px solid #A7A7A7;
  border-bottom: 1px solid #A7A7A7;
}

.header-big-item {
  width: 25%;
  margin: 0 0 30px 0 !important;
}

.header-big-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-big-item a img {
  margin-right: 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-big-item a:hover {
  opacity: 1;
  color: #5b85f1;
}

.header-big-item a:hover img {
  opacity: 0.8;
}

.header-big-links {
  display: none;
}

.header-big-links.is-active {
  display: block;
}

.header-big-tip span {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .header-big h5 {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .header-big {
    padding: 27px 0 15px 0;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }

  .header-big-close {
    display: none;
  }

  .header-big-add-link {
    display: block;
    font-size: 16px;
    margin-top: 9px;
    padding-right: 0;
  }

  .header-big-list {
    height: 280px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 25px 0;
    padding-top: 25px;
  }

  .header-big-list::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  .header-big-list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .header-big-list::-webkit-scrollbar-thumb {
    background-color: #5B85F1;
  }

  .header-big-item {
    width: 100%;
    margin: 0 0 25px 0 !important;
  }

  .header-big-item span {
    font-size: 17px !important;
  }

  .header-big-tip span {
    font-size: 14px;
  }
}