.no-webp .calculator {
  background-image: url("../img/bg-calc.png"); }

.calculator {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 0 136px;
}

.calculator h2 {
  color: #fff;
}

.calculator-form {
  width: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 76px;
}

.calculator-range {
  background: #F3F6FA;
  border-radius: 25px;
  padding: 20px;
  width: 440px;
  color: #355064;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator-range-item:last-child {
  margin-top: 16px;
}

.calculator-form-tip {
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 16px;
  padding: 8px 12px 9px 13px;
  display: block;
  margin: 5px auto 0;
  width: 375px;
  color: #355064;
  border-radius: 34px;
}

.calculator-range-title {
  font-size: 18px;
  line-height: 22px;
  color: #355064;
  display: block;
  margin-bottom: 15px;
  margin-left: 20px;
}

.calculator-range-form {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.calculator-range-form .noUi-connects {
  border-radius: 34px;
}

.calculator-range-form .noUi-marker-normal {
  display: none;
}

.calculator-range-form .noUi-handle {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #5B85F1;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.calculator-range-form .noUi-handle:before,
.calculator-range-form .noUi-handle:after {
  display: none;
}

.calculator-range-form .noUi-horizontal {
  height: 23px;
}

.calculator-range-form .noUi-connect {
  background: #93A9DF;
}

.calculator-range-form .noUi-target {
  border: 0;
  background: #F0F0F0;
}

.calculator-range-form .noUi-pips-horizontal {
  width: 96%;
  margin: auto;
  left: 8px;
}

.calculator-range-form .noUi-connects {
  border: 2px solid #CFCFCF;
}

.calculator-range-form .noUi-marker-horizontal.noUi-marker {
  width: 1px;
}

.calculator-range-form .noUi-tooltip {
  border: 1px solid #5B85F1 !important;
  border-radius: 5px;
  border: 0;
  display: block;
  font-size: 12px;
}

.calculator-range-form .noUi-tooltip.active {
  color: #fff;
  background: #5B85F1;
}

.calculator-range-form .noUi-tooltip.no-valid {
  border: 1px solid #d61916 !important;
}

.calculator-range-form .noUi-tooltip:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #5b85f1;
  content: "";
  left: 50%;
  position: absolute;
  top: 33px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.calculator-settings {
  background: #F3F6FA;
  width: 340px;
  padding: 20px;
  border-radius: 25px;
}

.calculator-settings span,
.calculator-settings input,
.calculator-settings select {
  font-size: 18px;
}

.calculator-settings input,
.calculator-settings select,
.calculator-settings .calculator-form-submit {
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 34px;
  height: 40px;
  display: block;
  width: 100%;
  padding-left: 27px;
}

.calculator-settings select {
  display: block;
  background: #F0F0F0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/download.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.calculator-settings select.valid {
  border: 2px solid #5B85F1;
  background-image: url("../img/valid.svg");
}

.calculator-settings select.no-valid {
  border: 2px solid #D61916;
  background-image: url("../img/no-valid.svg");
}

.calculator-settings select.active {
  border: 2px solid #5B85F1;
  background-color: #5B85F1;
  background-image: url("../img/active.svg");
  color: #fff;
}

.calculator-settings select.active option {
  background-color: #fff;
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator-settings-proxy,
.calculator-form-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator-settings-proxy input {
  text-align: center;
  width: 80px;
  padding-left: 0 !important;
}

.calculator-settings-rotation {
  margin-top: 20px;
  display: block;
}

.calculator-choice {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #355064;
  border-bottom: 1px solid #355064;
}

.calculator-choice .calculator-form-option {
  margin-bottom: 20px;
  display: block;
}

.calculator-choice .calculator-form-option:last-child {
  margin-bottom: 0;
}

.calculator-form-count {
  padding-top: 30px;
}

.calculator-form-count select {
  text-align: center;
  width: 130px;
  background-color: #fff;
  padding-left: 0 !important;
}

.calculator-form-submit {
  width: 240px !important;
  margin: 25px auto 0;
  font-size: 18px;
  display: block;
  cursor: pointer;
  padding-left: 0 !important;
  pointer-events: none;
}

.calculator-form-submit.valid {
  border: 2px solid #5B85F1 !important;
  pointer-events: inherit;
}

.calculator-form-submit.no-valid {
  border: 2px solid #D61916 !important;
}

.calculator-form-submit.active {
  border: 2px solid #5B85F1;
  background-color: #5B85F1;
  color: #fff;
  pointer-events: inherit;
}

.calculator-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator-services-item {
  width: 360px;
  margin: 0 40px;
}

.calculator-services-item h3 {
  text-align: center;
  font-size: 28px;
  color: #fff;
}

.calculator-services-block {
  background: #F3F6FA;
  -webkit-box-shadow: 0px 3.05785px 12.2314px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3.05785px 12.2314px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 100%;
  color: #8792A3;
  text-align: center;
  margin-top: 24px;
  padding: 36px;
  text-align: center;
}

.calculator-services-block img {
  display: inline;
}

.calculator-services-block p {
  font-size: 20px;
  margin: 22px 0;
}

.calculator-services-block .btn-item {
  background: #5B85F1;
  border-radius: 3.75px;
  width: 100%;
  color: #fff;
}

.calculator-services-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 177px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .calculator-services-block p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .calculator-form {
    width: 100%;
  }

  .calculator-range {
    margin-right: 20px;
    width: 400px;
  }

  .calculator-form-tip {
    width: 100%;
  }

  .calculator-settings {
    width: 280px;
  }

  .calculator-services-item {
    margin: 0 15px;
  }

  .calculator-services-item h3 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .calculator {
    padding: 50px 0 100px;
  }

  .calculator-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0 60px;
  }

  .calculator-range {
    width: 100%;
  }

  .calculator-settings {
    width: 100%;
    margin-top: 30px;
  }

  .calculator-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .calculator-services-item {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .calculator-services-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .calculator-settings-proxy,
  .calculator-form-count {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .calculator-settings-proxy span,
  .calculator-form-count span {
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .calculator-form-tip br {
    display: none;
  }

  .calculator-range-form .noUi-value {
    font-size: 14px;
  }

  .calculator-range-form {
    margin: 0 10px;
  }
}

@media (max-width: 400px) {
  .calculator-range {
    padding: 15px;
  }
}

.webp .calculator { background-image: url(../img/bg-calc.webp); }