@media screen and (max-width: 1200px) {
	.os_art2{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.os_art2 h3, p{
		padding-left: 0;
	}

	.artic_img{
		display: flex;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
	}

	.artic_img2{
		margin-left: 40px;
	}

	.our_story {
	    margin-bottom: 40px;
	}

	.os_art1{
		margin: 20px 150px;
	}

	.ai_img1{
		padding-top: 90px;
	}

	.pricing {
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}

	.pricing_card_img{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}

	.pricing_theme{
		margin-bottom: 30px;
	}

	.clients {
	    height: 100%;
	    padding-top: 100px;
	    padding-bottom: 130px;
	    margin-bottom: 50px;
	}

	.clients_cards{
		margin-top: 25px;
	}

	.clients_card1:nth-child(-n+2){
		margin-bottom: 30px;
	}


	.clients_card{
		margin-bottom: 30px;
	}

	.clients_card1:nth-child(odd){
		justify-content: flex-end;
	}

	.blog_desc{
		background-position: center;
	}

	.bd_title {
	    padding: 15px;
	}

	.blog_info1{
		width: 350px;
	}

	.blog_info2 p {
	    padding-left: 26px;
	}

	.bnt_blog{
		margin-left: 26px;
	}

	.bd_title h3 {
	    font-size: 17px;
	    text-align: center;
	}

	.p2_card_img, .p2_card_img2 {
		background-position: center;
	}
}

@media screen and (max-width: 992px) {
	.menu_hamburger{
		display: block;
	}

	.menu ul{
		display: none;
	}

	.our_story, .our_story2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0;
	}

	.our_story h2, .our_story2 h2{
		justify-content: center;
		padding-right: 0;
	}

	.os_text, .os_text2{
		padding: 0 10px;
	}

	.os_text p, .os_text2 p{
		border: 0;
		border-top: 4px solid #f39c12;
		padding: 0 10px;
		margin-top: 10px;
		padding-top: 20px;
		font-size: 15px;
	}

	.ai_img1{
		display: none;
	}

	.ai_img10{
		display: block;
		padding-top: 100px;
	}

	.qwerty h1 {
	    font-size: 37px;
	    font-weight: 700;
	    text-align: center;
	}

	.p2_category ul {
	    -webkit-flex-wrap: wrap;
	    -moz-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    -o-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 0;
	}

	.p2_category li {
	    padding-top: 10px;
	}

	.blog{
		display: none;
	}

	.blog-moblie{
		display: block;
		padding-bottom: 70px;
	}

	.blog_desc3 {
	    background-image: url(../img/bg_blog.jpg);
	    background-repeat: no-repeat;
	    background-position: center;
	    height: 300px;
	    display: flex;
	    justify-content: center;
	    -ms-align-items: flex-end;
	    align-items: flex-end;
	}

	.blog_desc4{
		display: flex;
		justify-content: space-between;
		padding: 0 70px;
		padding-top: 15px;
	}

}

@media screen and (max-width: 768px) {
	.os_art1 {
	    margin: 20px 50px;
	}

	.prohib_cards {
	    display: flex;
	    justify-content: center;
	    text-align: center;
	    flex-wrap: wrap;
	}

	.prohib_card{
		margin: 0 50px;
		margin-bottom: 30px;
	}

	.service_cards {
	    display: flex;
	    text-align: center;
	    flex-wrap: wrap;
	    padding: 0 100px;
	}

	.service_card {
	    padding-bottom: 35px;
	}

	.service_card:last-child {
	    padding-bottom: 85px;
	}

	.prohibits {
	    background-image: url(../img/bg2.png);
	    -webkit-background-size: cover;
	    background-size: cover;
	    background-position: center;
	    color: #fff;
	    padding-top: 120px;
	    padding-bottom: 100px;
	    margin-bottom: 60px;
	    height: 100%;
	}
}

@media screen and (max-width: 767px) {
	.pricing_cards {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}

	.pricing_card:nth-child(even){
		border-right: 1.5px solid #e6e6e6;
	}

	.pricing_card:nth-child(n+3){
		margin-top: 30px;
	}

	.our_team_card p {
	    font-size: 18px;
	    font-weight: 300;
	    font-style: italic;
	    text-align: center;
	    padding: 0 70px;
	}

	.swiper-button-prev3,
	.swiper-button-next3 {
	  top: 30%;
	}

	.cf_section form {
		padding: 0;
	    padding-right: 0;
	}

	form{
		text-align: center;
	}

	.contact_info{
		text-align: center;
		margin-top: 50px;
	}

	.contact {
	    padding-bottom: 70px;
	}

	.os_text p, .os_text2 p{
		font-size: 14px;
	}

}

@media screen and (max-width: 747px) {
	.prohib_card{
		margin: 0 30px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 576px) {
	.ai_img2{
		padding-right: 0;
	}

	.os_art1 {
	    padding: 0;
	    padding: 0 23px;
	}

	.bnr_text h1 {
	    font-size: 53px;
	}

	.bnr_text h2 {
	    font-size: 31px;
	}

	.ai_img10{
		display: none;
	}

	.artic_img2 {
	    margin: 0 20px;
	}

	.clients_card1{
	    justify-content: center;
	}

	.clients_card1:nth-child(odd) {
	    justify-content: center;
	}

	.clients_card1:nth-child(n+4) {
	    margin-top: 30px;
	}

	.service_cards {
	    padding: 0 50px;
	}

	.twitter {
	    height: 100%;
	    padding: 120px 0;
	    margin-bottom: 50px;
	}

	.cf_section form {
	    padding: 0 30px;
	}

	.ftr_align{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.soc_icons2{
		margin-top: 30px;
	}

	.clients {
	    height: 100%;
	    padding-top: 130px;
	    padding-bottom: 160px;
	    margin-bottom: 30px;
	}

	.team_card{
		margin: 0 20px;
	}

	.p2_cards {
	    padding-bottom: 0;
	    padding: 0 70px;
	}

	.p2_card{
		display: none;
	}

	.btn_align2{
		display: flex;
		justify-content: center;
	}

	.team-moblie{
		display: block;
		padding-bottom: 0;
		padding-top: 37px;
	}

	.team{
		display: none;
	}
}

@media screen and (max-width: 530px) {
		.pricing_card:first-child{ 
	    border-right: 1.5px solid #e6e6e6;
	    margin-bottom: 30px;
	}
}

@media screen and (max-width: 489px) {
	.photo_img10{
		height: 254px;
		width: 350px;
	}
}

@media screen and (max-width: 472px) {
	.about_section1 {
	    padding-top: 60px;
	}

	header {
	    padding-bottom: 260px;
	}

	.banner {
	    margin-top: 150px;
	}

	.bnr_text h1 {
	    font-size: 48px;
	}

	.bnr_text h2 {
	    font-size: 26px;
	}

	.qwerty {
	    height: 100%;
	    padding: 170px 0;
	}

	.qwerty h1 {
	    font-size: 32px;
	}

	.os_text p, .os_text2 p {
	    font-size: 12px;
	    padding: 0;
	    padding-top: 20px;
	}

	.our_team_card p {
	    font-size: 17px;
	    padding: 0 15px;
	}

}

@media screen and (max-width: 460px) {
	.prohibits {
	    padding-top: 150px;
	    padding-bottom: 130px;
	    margin-bottom: 10px;
	}

	.team {
	    padding-top: 75px;
	    padding-bottom: 5px;
	}

	.tw_align {
	    padding: 0 50px;
	}

	nav {
	    padding-top: 15px;
	}

	.blog_desc4 {
	    display: flex;
	    justify-content: space-between;
	    padding: 0;
	    padding-top: 15px;
	}

	.p2_cards {
	    padding-bottom: 0;
	    padding: 0 40px;
	}

}

@media screen and (max-width: 434px) {
	.service_cards {
	    padding: 0;
	}

	.os_art1 {
	    padding: 0;
	    margin: 20px 30px;
	}

	.pricing_card {
	    border: 1.5px solid #e6e6e6;
	    border-right: 0;
	    width: 250px;
	    text-align: center;
	}

	.revievs {
		background-image: url(../img/bg2.png);
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		height: 100%;
		color: #fff;
		padding-top: 140px;
		padding-bottom: 100px;
		margin-bottom: 60px;
	}

	.tw_align {
	    padding: 0 20px;
	}

	.banner {
	    margin-top: 120px;
	}

	header {
	    padding-bottom: 200px;
	}

	.bnr_text h1 {
	    font-size: 45px;
	}

	.bnr_text h2 {
	    font-size: 23px;
	}

}

@media screen and (max-width: 359px) {
	.photo_img10{
		height: 204px;
		width: 310px;
	}

	.p2_cards {
	    padding-bottom: 0;
	    padding: 0 20px;
	}
}







