/*Nav_menu*/

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 100; 
    top: 0;
    left: 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}

/*.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
}*/

.sidebar ul{
	padding: 0;
	margin: 0;
	padding-left: 40px;
	margin-bottom: 38px;
}

.sidebar li{
	list-style: none;
}

.sidebar li a{
	list-style: none;
	color: #f39c12;
	font-size: 21px;
	line-height: 38px;
}

.sidebar li:hover a{
	text-decoration: none;
	color: #f39c12;
}

.sidebar .logo1{
	color: #fff;
	border-top: 1px solid #f39c12;
	border-bottom: 1px solid #f39c12;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 40px;
	color: #f39c1f;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.sidebar .logo a img{
	padding-bottom: 10px;
}

.sidebar .autor{
	font-size: 12px;
	text-align: center;
} 

.sidebar a:hover {
    color: #fc5656;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 35px;
    cursor: pointer;
    color: #f39c12;
    border: none;
    width: 70px;
}

.logo_img2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.mob_social1{
	display: flex;
	border-top: 1px solid #f39c12;
	border-bottom: 1px solid #f39c12;
	justify-content: center;
}

.mob_social1 a i{
	padding: 15px 10px;
	text-decoration: none;
    font-size: 18px;
    color: #f39c12;
    transition: 0.3s;
    font-size: 18px;
}

.openbtn:hover {
    outline: none;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar li {font-size: 18px;}
}

/*main*/
.map{
	background-image: url(../img/map.png);
	height: 600px;
	background-position: center;
}

body{
	font-family: 'Open Sans', sans-serif;
	position:relative;
	overflow-x:hidden;
}

.logo{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	display: flex;
	justify-content: center;
	width: 133px;
	height: 133px;
	-ms-align-items: center;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
}

header{
	padding-bottom: 300px;
	background-image: url(../img/bg1.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding-top: 50px;
}

.menu ul{
	display: flex;
}

.menu li{
	list-style: none;
}

.menu li a{
	margin: 32px;
	color: #FFF;
	list-style: none;
	text-transform: uppercase;
	font-size: 15px;
	transition: 0.3s;
}

.menu li:hover a{
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

.menu_hamburger img{
	width: 32px;
}

.banner{
	margin-top: 190px;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	color: #FFF;
	text-align: center;
}

.bnr_text h1{
	font-size: 58px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1px;
	padding: 0;
	margin: 0;
	padding: 11px 0;
}

.bnr_text h2{
	font-weight: 300;
	font-size: 35px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.bnt_more1{
	margin-top: 90px;
	text-transform: uppercase;
	text-align: center;
	background-color: #f39c12;
	font-size: 15px;
	padding: 12px 40px; 
	font-weight: 600;
	cursor: pointer;
}

.about_section1{
	padding-top: 100px;
}

.our_story{
	display: flex;
	justify-content: center;
	padding-left: 40px;
	margin-bottom: 120px;
}

.our_story2{
	display: flex;
	justify-content: center;
	padding-left: 40px;
	margin-bottom: 90px;
}

.our_story h2, .our_story2 h2{
	display: flex;
	padding-right: 18px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 7px;
}

.os_text p, .our_story2 p{
	padding-left: 18px;
	border-left: 4px solid #f39c12;
	color: #4c4c4c;
	font-size: 16.5px;
	text-transform: uppercase;
}

.artic_img{
	display: flex;
	padding-bottom: 100px;
	border-bottom: 2px solid #e6e6e6;
}

.os_art1 h3, .os_art2 h3{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.os_art1{
	padding-left: 23px;
	padding-right: 43px;
}

.os_art1 p, .os_art2 p{
	font-size: 15.5px;
	color: #737373;
	line-height: 26px;
}

.os_art2 h3, p{
	padding-left: 20px;
}

.os_txt1 p{
	font-weight: 300;
	font-size: 17px;
	color: #e74c3c;
}

.about_section2{
	padding-top: 110px;
	display: flex;
	padding-bottom: 60px;
}

.artic_img2{
	margin-left: 80px;
}

.os_art2{
	display: flex;
}

.ai_img3{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.ai_img1, .ai_img2{
	padding-right: 20px;
}

.os_art2 p{
	font-size: 14.8px;
	color: #737373;
	line-height: 26px;
}

.os_art2{
	margin-bottom: 60px;
}

.ec1{
	margin-top: 7px;
	margin-bottom: 35px;
}

.ec_st{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}

.ec_st span{
	font-weight: 500;
}

.progress{
	border-radius: 0;
	width: 100%;
	height: 10px;
	background-color: #e6e6e6;
}

progress[value]::-webkit-progress-bar {
  background-color: #e6e6e6;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
	background-color: #f39c12;
}

.qwerty{
	background-image: url(../img/bg2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 700px;
	color: #fff;
	padding-top: 270px;
}

.qwerty h1{
	font-size: 45px;
	font-weight: 700;
	text-align: center;
}

.qwerty hr{
	background-color: #f39c12;
	height: 3px;
	width: 50px;
	margin-top: 30px;
}

.qwerty h3{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

.team{
	padding-top: 75px;
	padding-bottom: 55px;
}

.team_cards{
	display: flex;
}

.team_card{
	text-align: center;
	padding: 30px 17px;
	border-top: 4px solid #fff;
	transition: 0.2s
}

.team_card2{
	text-align: center;
	padding: 30px 17px;
	border-top: 4px solid #fff;
	transition: 0.2s
}

.team_card_img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 17px;
}

.team_card h3{
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 700;
}

.team_card span{
	font-size: 14px;
	color: #999999;
	font-family: 'Lato', sans-serif;
}

.team_card hr{
	width: 20px;
	height: 4px;
	background: #cccccc;
	border: 0;
}

.team_card p{
	font-size: 15.5px;
	color: #737373;
}

.team_card2 h3{
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 700;
}

.team_card2 span{
	font-size: 14px;
	color: #999999;
	font-family: 'Lato', sans-serif;
}

.team_card2 hr{
	width: 20px;
	height: 4px;
	background: #cccccc;
	border: 0;
}

.team_card2 p{
	font-size: 15.5px;
	color: #737373;
	padding: 0 15px;
}

.soc_icons1 i{
	color: #999999;
	padding: 0 5px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.2s
}

.team_card:hover {
	background-color: #f0f0f0;
	border-top: 4px solid #f39c12;
	border-radius: 0 0 5px 5px;
}

.team_card:hover hr{
	background-color: #e74c3c;
}

.team_card2:hover {
	background-color: #f0f0f0;
	border-top: 4px solid #f39c12;
	border-radius: 0 0 5px 5px;
}

.team_card2:hover hr{
	background-color: #e74c3c;
}

.soc_icons1 i:hover{
	color: #f39c12;
}

.prohibits{
	background-image: url(../img/bg2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 700px;
	color: #fff;
	padding-top: 220px;
	margin-bottom: 90px;
}

.prohib_cards{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.prc_img{
	border-radius: 50%;
	border: 2px solid #f39c12;
	display: flex;
	justify-content: center;
	width: 155px;
	height: 155px;
	-ms-align-items: center;
	align-items: center;
}

.prc_2{
	border: 2px solid #fff;
}

.prohib_card h4{
	font-size: 42px;
	font-weight: 700;
	text-align: center;
	padding-top: 15px;
	margin: 0;
}

.prohib_card span{
	font-size: 22px;
	font-weight: 700;
	text-align: center;
}

.service_cards{
	display: flex;
	text-align: center;
	padding-bottom: 90px;
	border-bottom: 2px solid #e6e6e6;
}

.service_card{
	padding: 0 15px;
}

.service_card h3{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 23px;
	padding-bottom: 7px;
}

.service_card p{
	font-size: 14px;
	color: #737373;
	line-height: 26px;
}

.service_card_img{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.sc_fg{
	border-radius: 50%;
	border: 2px solid #f39c12;
	display: flex;
	justify-content: center;
	width: 113px;
	height: 113px;
	-ms-align-items: center;
	align-items: center;
}

.pricing{
	padding-top: 100px;
	padding-bottom: 80px;
}

.pricing_theme h3{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 23px;
	padding-bottom: 7px;
}

.pricing_theme p{
	font-size: 14px;
	color: #737373;
	line-height: 26px;
	width: 280px;
}

.pricing{
	display: flex;
	justify-content: space-between;
}

.pricing_cards{
	display: flex;
}

.pricing_card{
	border: 1.5px solid #e6e6e6;
	border-right: 0;
	width: 250px;
	text-align: center;
}

.pricing_card:last-child{
	border-right: 1.5px solid #e6e6e6;
}

.pricing_card:hover{
	border: 0;
	z-index: 10;
	transform: scale(1.07);
}

.pricing_card:hover .pric_c1{
	color: #fff;
	background-color: #f39c12;
	padding: 24px 0;
}

.pricing_card:hover .pric_c1 hr{
	background-color: #fff;
}

.pricing_card:hover .pric_c2{
	border: 0;
	background-color: #e6e6e6;
	padding: 11px 0;
}

.pricing_card:hover .pric_c3{
	border: 0;
	background-color: #f2f2f2;
	padding: 11px 0;
}

.pricing_card:hover .pric_c4{
	border: 0;
	background-color: #e6e6e6;
}

.pric_c1{
	padding: 23px 0;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.pric_c1 h3{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.pric_c1 span{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.pric_c1 hr{
	background-color: #f39c12;
	width: 50px;
	height: 2px;
	margin: 8px 0;
}

.pric_c2, .pric_c3, .pric_c4{
	border-top: 1.5px solid #e6e6e6;
	padding: 10px 0;
	color: #737373;
	font-size: 15px;
	font-weight: 400;
}

.pric_c2, .pric_c4{
	background-color: #fafafa;
}

.pric_c4{
	padding: 35px 0;
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
}

.pric_btn{
	border: 2px solid #f39c12;
	padding: 9px 30px;
	transition: 0.2s
}

.pric_btn:hover{
	background: #f39c12;
	color: #fff;
}

.revievs{
	background-image: url(../img/bg2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 700px;
	color: #fff;
	padding-top: 180px;
	margin-bottom: 90px;
}

.our_team_card{
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 95px;
}

.our_team_card h3{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

.our_team_card hr{
	background-color: #f39c12;
	width: 50px;
	height: 3px;
	margin: 17px 0;
	margin-bottom: 25px;
}

.our_team_card p{
	font-size: 19px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	padding: 0 170px;
}

.swiper-pagination{
	margin-top: 50px;
}

.osp p{
	font-size: 16px;
}

.bg_image1, .bg_image2, .bg_image3{
	width: 100%;
	height: 580px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.portfolio{
	padding-bottom: 100px;
	border-bottom: 2px solid #e6e6e6;
}

.bg_image1{
	background-color: #f39c12;
}

.bg_image2{
	background-color: #cc0000;
}

.bg_image3{
	background-color: #4c5d6c;
}

.arrows{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.btn_next{
	border: 2px solid #e6e6e6;
	padding: 1px 14px;
	margin: 5px;
	cursor: pointer;
}

.btn_prev{
	border: 2px solid #e6e6e6;
	padding: 1px 14px;
	margin: 5px;
	cursor: pointer;
}

.btns_theme{
	text-align: center;
}

.btns_theme h3{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

.btns_theme span{
	font-size: 14px;
	color: #808080;
}

.portfolio2{
	padding-top: 100px;
}

.p2_category{
	margin-bottom: 80px;
}

.p2_category ul{
	display: flex;
	justify-content: center;
}

.p2_category li{
	list-style: none;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 30px;	
	transition: 0.1s;
}

.p2_category li:hover{
	color: #f39c12;
	cursor: pointer;
}

.p2_cards{
	padding-bottom: 100px;
}

.p2_card{
	padding: 0;
	text-align: center;
	padding-bottom: 15px;
}

.p2_card h3{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	padding-top: 15px;
}

.p2_card span{
	font-size: 14px;
	color: #8c8c8c;
	margin: 0;
}

.p2_card_img, .p2_card_img2{
	height: 220px;
	width: 100%;
	background-color: #c7c7c7;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	transform: 0.3s;
}

.p2_card_img2{
	background-color: #b7b7b7;
}

.p2_card_img:hover img{
	display: none;
}

.p2_card_img2:hover img{
	display: none;
}

.p2_card_img:hover, .p2_card_img2:hover{
	background-image: url(../img/bg_p2.jpg);
	cursor: pointer;
}

.twitter{
	background-image: url(../img/bg2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 700px;
	color: #fff;
	padding-top: 210px;
	margin-bottom: 90px;	
}

.tw_align{
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	padding: 0 80px;
}

.tw_align p{
	font-weight: 700;
	font-size: 22px;
	margin-top: 25px;
}

.tw_align p span{
	font-weight: 700;
	font-size: 22px;
	color: #f39c12;	
}

.tw_align span{
	font-weight: 300;
	font-size: 14px;
	color: #808080;
	font-style: italic;
}

.blog_cards{
	padding-bottom: 30px;
}

.blog_card{
	padding: 0;
	margin-bottom: 60px;
}

.blog_card:nth-child(odd){
	padding-right: 25px;
}

.blog_card:nth-child(even){
	padding-left: 25px;
}

.blog_desc{
	background-image: url(../img/bg_blog.jpg);
	background-repeat: no-repeat;
	height: 300px;
	display: flex;
	justify-content: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.blog_desc2{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}

.blog_info1{
	font-size: 13px;
	color: #808080;
	width: 280px;
	text-align: right;
}

.blog_info2 p{
	font-size: 15px;
	color: #808080;	
	padding-left: 46px;
}

.bd_img{
	background-color: #f39c12;
	padding: 11px;
}

.bd_title{
	background-color: #fff;
	padding: 20px 40px 10px 25px;
}

.bd_title h3{
	font-weight: 700;
	font-size: 19px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.bnt_blog{
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	border: 1.5px solid #f39c12;
	margin-left: 46px;
	text-align: center;
	padding: 7px 25px;
	transition: 0.3s
}

.bnt_blog:hover{
	background-color: #f39c12;
	border: 1.5 solid #FFF;
	color: #fff;
	cursor: pointer;
}

.btn_align{
	display: flex;
	justify-content: flex-start;
}

.clients{
	background-image: url(../img/bg2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 700px;
	color: #fff;
	padding-top: 200px;
	margin-bottom: 90px;		
}

.clients_cards{
	margin-top: 55px;
}

.clients_card1{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.clients h3{
	font-weight: 700;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
}

.contact{
	padding-bottom: 110px;
}

.cf_section form{
	padding-right: 40px;
}

input, textarea{
	width: 100%;
	border: 1.5px solid #d9d9d9;
}

input, textarea{
	width: 100%;
	border: 1.5px solid #d9d9d9;
	padding-left: 25px;
}

input::-webkit-input-placeholder {
	color: #808080;
	font-size: 14px;	
}

textarea::-webkit-input-placeholder {
	color: #808080;
	font-size: 14px;
}

textarea:focus, input:focus{
    outline: 2px solid #f39c12;
}

input{
	width: 100%;
	border: 1.7px solid #d9d9d9;
	height: 40px;
}

.btn-form{
	background: 0;
	border: 1.5px solid #f39c12;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	padding: 9px 35px;
	transition: 0.3s;
	cursor: pointer;
}

.form-group:nth-child(odd){
	padding: 13px 0;
}

.form-group:nth-child(2){
	padding-top: 17px;
}

.form-group:nth-child(4){
	padding-bottom: 21px;
}

.cf_section{
	display: flex;
	justify-content: space-between;
}

.cf_section h3{
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 3px;	
}

.ci_contact{
	display: flex;
	flex-direction: column;
}

.contact_info p{
	color: #737373;
	font-size: 14.5px;
	line-height: 25px;
	padding: 7px 0;
}

.ci_contact span{
	margin-bottom: 7px;
}

.ci_contact img{
	padding-right: 13px;
}

.ftr_align{
	display: flex;
	justify-content: space-between;
	padding: 30px 0 50px 0;
}

.soc_icons2 i{
	margin-left: 15px;
	font-size: 19px;
	transition: 0.2s
}

.soc_icons2 i:hover{
	color: #f39c12;
	cursor: pointer;
}

/*dn*/

.menu_hamburger{
	display: none;
}

.ai_img10{
	display: none;
}

.blog-moblie{
	display: none;
}

.team-moblie{
	display: none;
}

.team_card2 {
    margin: 0;
}

.photo_img10{
	background-image: url(../img/photo.jpg);
	height: 254px;
	width: 450px;
	background-position: center;
}

.p2_cards {
    padding-bottom: 70px;
}

.btn_align2{
	display: none;
}

.bnt_more2 {
    text-transform: uppercase;
    text-align: center;
    background-color: #f39c12;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    margin-bottom: 70px;
}

.menu2{
	position: fixed;
	right: 70px;
	top: 70px;
	z-index: 99;
	display: none;
	cursor: pointer;
}

.menu2 img{
	width: 32px;
	height: 32px;
}