/** page-styles **/

/** fonts **/

@font-face {
  font-family: "Inter-Bold";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Thin";
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff") format("woff"), url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 36px !important;
  margin: 0 auto !important;
}

.main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.main__inner {
  position: relative;
}

.main *,
.main *:before,
.main *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  margin: 0;
}

.main p {
  margin: 0;
}

.main li {
  list-style: none;
}

.main ul {
  padding-left: 0;
  margin: 0;
}

.main input[type="number"]::-webkit-outer-spin-button,
.main input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main input[type="number"] {
  -moz-appearance: textfield;
}

.main input[type="number"]:hover,
.main input[type="number"]:focus {
  -moz-appearance: number-input;
}

.main input[type=number]::-webkit-inner-spin-button,
.main input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main input {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main button {
  background: none;
  border: none;
  cursor: pointer;
}

.main a {
  text-decoration: none;
}

.main textarea {
  resize: none;
  border: none;
}

/** page-2 **/

.tourism{
  font-family: Inter-Regular;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.tourism__banner{
  background-image: url(../img/tourism/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 510px;
  color: #fff;
}

.tourism__banner .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.tourism__banner-offer{
  width: 48%;
}

.tourism__banner-offer h1{
  font-size: 36px;
  margin-bottom: 35px;
  white-space: nowrap;
  line-height: 120%;
  font-family: Inter-SemiBold;
}

.tourism__banner-offer p{
  line-height: 130%;
  margin-bottom: 20px;
}

.guide__main{
  padding-top: 108px;
}

.tourism__list {
  margin: 36px 0;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 36px; 
  width: 100%;
}

.tourism__item{
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.83%, #000000 100%);
  border-radius: 6px;
}

.tourism__item img{
  width: 100%;
}

.tourism__item h3{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 18px;
  font-size: 24px;
  font-family: Inter-SemiBold;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.83%, #000000 100%);
  border-radius: 0 0 6px 6px;
  letter-spacing: -0.01em;
}

.tourism__item h3 a{
  color: #fff;
}

.tourism__tematic{
  background-image: url(../img/tourism/bg2.jpg);
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 55px;
  border-radius: 6px;
}

.tourism__tematic a{
  font-size: 36px;
  font-family: Inter-SemiBold;
  color: #fff; 
}

@media (max-width: 1200px) {
  .tourism__banner-offer h1{
    font-size: 30px;
  }
  .tourism__banner-offer p{
    font-size: 16px;
  }
  .tourism__item h3{
    font-size: 21px;
    line-height: 130%;
  }
}

@media (max-width: 991px) {
  .tourism__list{
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
  .tourism__banner{
    height: auto;
    padding: 70px 0;
  }
  .tourism__banner-offer{
    width: 100%;
    text-align: center;
  }
  .tourism__banner-offer h1{
    white-space: normal;
  }
  .tourism__tematic a{
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 720px) {
  .about-info__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tourism__list{
    gap: 25px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 12px;
  }
  .tourism__banner{
    padding: 50px 0;
  }
  .tourism__banner-offer h1{
    font-size: 25px;
    margin-bottom: 30px;
  }
  .tourism__banner-offer p{
    font-size: 15px;
  }
  .tourism__tematic a {
    font-size: 23px;
    line-height: 33px;
  }
}