  .header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 100%;
   padding: 0 36px;
   background-color: #fff;
   border-bottom: 1px solid #EAEBEB;
 }
 
 .header__logo {
   padding: 12px 0;
   padding-right: 24px;
   border-right: 1px solid #EAEBEB;
 }
 
 .header__logo img {
   width: 60px;
   height: 60px;
 }
 
 .header__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   width: 100%;
 }
 
 .header__list li {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .header__list li a,
 .header__list li button {
   font-family: Inter-SemiBold;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #262626;
   padding: 0 24px;
   white-space: nowrap;
   position: relative;
 }
 
 .header__list li a::after,
 .header__list li button::after {
   content: '';
   position: absolute;
   bottom: -34px;
   left: 0;
   width: 0;
   height: 2px;
   background-color: #262626;
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
 }
 
 .header__list li a:hover::after,
 .header__list li button:hover::after {
   width: 100%;
 }
 
 .header__list-nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .header__list-active {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 5;
   width: 100%;
   height: 100%;
   background-color: #fff;
   z-index: 2222222;
 }
 
 .header__list-active .header__list-nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: start;
       -ms-flex-align: start;
           align-items: start;
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
   padding-top: 30px;
   padding-bottom: 70px;
 }
 
 .header__btn {
   padding-right: 39px !important;
 }
 
 .header__btn::after {
   content: none !important;
 }
 
 .header__btn::before {
   content: '';
   width: 9px;
   height: 6px;
   background-image: url(/img/header/arrow.svg);
   position: absolute;
   right: 24px;
   top: 6px;
   z-index: 2;
 }
 
 .header__nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .header__search {
   width: 32px;
   height: 32px;
   margin-right: 28px;
 }
 
 .header__logo-2 {
   margin-right: 31px;
 }
 
 .header__logo-2 img {
   width: 73px;
   height: 60px;
 }
 
 .header__lang {
   font-family: Inter-Medium;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #262626;
   margin-left: 31px;
   margin-right: 35px;
 }
 
 .header__icon {
   width: 22px;
   height: 22px;
   padding: 0;
   position: relative;
 }
 
 .header__icon::after {
   content: '';
   position: absolute;
   right: 0;
   top: -2px;
   width: 8px;
   height: 8px;
   background-color: #F5323F;
   border-radius: 50%;
 }
 
 .header__menu {
   display: none;
   margin-left: 32px;
   padding-top: 5px;
 }
 
 .header__close {
   display: none;
 }
 
 .header__item {
   position: relative;
   padding: 32px 0;
 }
 
 .header__list-menu {
   display: none;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   position: absolute;
   top: 85px;
   left: 0;
   z-index: 222222222;
   border: 1px solid #EAEBEB;
   border-top: none;
   background-color: #fff;
   padding-top: 20px;
 }
 
 .header__list-menu a {
   white-space: normal !important;
   margin-bottom: 30px;
   white-space: nowrap !important;
 }
 
 .header__list-menu a:hover {
   color: #8C8C8C;
 }
 
 .header__list-menu a::after {
   content: none !important;
 }
 
 .footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   width: 100%;
   background-color: #D0F3F7;
   padding: 18px 36px;
 }
 
 .footer__contacts {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
 }
 
 .footer__title {
   font-family: Inter-Bold;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #262626;
   margin-bottom: 17px;
 }
 
 .footer__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
 }
 
 .footer__list li {
   margin-bottom: 13px;
 }
 
 .footer__list li:last-child {
   margin-bottom: 0;
 }
 
 .footer__list li img {
   margin-right: 8.5px;
 }
 
 .footer__list li span,
 .footer__list li a {
   font-family: Inter-Medium;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #262626;
   border-bottom: 1px solid #262626;
 }
 
 .footer__center {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: flex-end;
 }
 
 .footer__desc {
   font-family: Inter-Regular;
   font-size: 1.5rem;
   line-height: 1.8rem;
   color: #262626;
 }
 
 .footer__social {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
 }
 
 .footer__icons {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
 }
 
 .footer__icons li {
   margin-right: 12px;
 }
 
 .footer__icons li:last-child {
   margin-right: 0;
 }
 
 .footer__link {
   font-family: Inter-Medium;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #262626;
   border-bottom: 1px solid #262626;
   margin-top: 8px;
 }
 
 .footer__address {
   cursor: pointer;
 }
 
 .popup-address {
   position: relative;
   background-color: rgba(0, 0, 0, 0.3);
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 5;
   display: none;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .popup-address__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   width: 100%;
   max-width: 828px;
   background: #FFFFFF;
   border-radius: 10px;
 }
 
 .popup-address__map-wrap {
   width: 100%;
   height: 100%;
   position: relative;
   padding-top: 56.25%;
   overflow: hidden;
 }
 
 .popup-address__map {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
 }
 
 .popup-address__header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 100%;
   padding: 24px;
   padding-bottom: 18px;
 }
 
 .popup-address__title {
   font-family: Inter-Bold;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #262626;
 }
 
 .popup-address__subtitle {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 100%;
   padding-left: 24px;
   padding-bottom: 19px;
 }
 
 .popup-address__subtitle img {
   margin-right: 11px;
 }
 
 .popup-address__subtitle span {
   font-family: Inter-Medium;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #262626;
 }
 
 .popup-address__close:hover {
   opacity: .8;
 }

 .header__list-nav {
    position: relative;
    background: #fff;
    z-index: 33333333;
 }

 @media (min-width: 1200px) {
   .header__list-nav .header__item:hover .header__list-menu {
     display: block;
   }
 }

 @media (max-width: 1200px) {
   .header {
     padding: 0 12px;
   }
 
   .header__logo {
     border-right: none;
     padding-right: 0;
   }
 
   .header__inner {
     -webkit-box-pack: end;
         -ms-flex-pack: end;
             justify-content: flex-end;
   }
 
   .header__list {
     display: none;
   }
 
   .header__list li a,
   .header__list li button {
     margin-bottom: 16px;
   }
 
   .header__list li a::after,
   .header__list li button::after {
     content: none;
   }
 
   .header__menu {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
   }
 
   .header__close {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     position: absolute;
     right: 24px;
     top: 30px;
     z-index: 222222222;
   }
 
   .header__item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-align: start !important;
         -ms-flex-align: start !important;
             align-items: start !important;
     padding: 0;
   }
 
   .header__list-menu {
     display: block;
     position: relative;
     top: auto;
     left: auto;
     border: none;
     margin-left: 15px !important;
     padding-top: 0;
   }
 
   .header__list-menu a {
     font-size: 1.5rem !important;
     line-height: 1.7rem !important;
   }
 
   .header__list-nav {
     overflow-y: scroll;
     height: 100vh;
     width: 100%;
   }
 }

 @media (max-width: 991px) {
   .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 18px 12px;
    }
  
    .footer__title {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  
    .footer__list li {
      margin-bottom: 6px;
    }
  
    .footer__list li img {
      margin-right: 6px;
    }
  
    .footer__list li span,
    .footer__list li a {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  
    .footer__desc {
      font-size: 1.3rem;
      line-height: 1.6rem;
      margin: 16px 0;
    }
  
    .footer__social {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
    }
  
    .footer__icons {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
    }
  
    .footer__link {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .popup-address {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
    }
  
    .popup-address__inner {
      max-width: 100%;
      height: 100%;
      border-radius: 0;
    }
  
  
  
    .about .container {
      padding: 0 12px !important;
    }
  
    .about-item__content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 38px;
    }
  
    .about-item__wrap {
      width: calc( 50% - 18px);
      margin-bottom: 20px;
    }
 }

 @media (max-width: 576px) {
    .container {
      padding: 0 12px !important;
    }
  
    .header__logo img {
      width: 48px;
      height: 48px;
    }
  
    .header__logo-2 {
      display: none;
    }
  
    .header__menu {
      margin-left: 24px;
    }

    .popup-address__header {
      padding: 12px;
    }
  
    .popup-address__title {
      font-size: 1.5rem;
      line-height: 1.6rem;
    }
  
    .popup-address__subtitle {
      padding-left: 12px;
    }
  
    .popup-address__subtitle img {
      margin-right: 5px;
    }
  
    .popup-address__subtitle span {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
 }

 @media (max-width: 320px) {
  .header__lang {
    margin-left: 25px;
    margin-right: 25px;
  }

  .header__search {
    margin-right: 20px;
  }
 }