@media screen and (max-width: 2561px) {

}

@media screen and (max-width: 1519px) {
	.swiper-container2{
		height: 490px;
	}

	.cont_slider{
		height: 570px;
		padding: 70px 0;
	}

	.swiper-button-prev2,
	.swiper-container-rtl .swiper-button-next2 {
	  background-image: url("../img/keyboard_arrow_up.png");
	  /*transform: rotate(90deg);*/
	  left: 64%;
	  bottom: 115%;
	}
	.swiper-button-next2,
	.swiper-container-rtl .swiper-button-prev2 {
	  background-image: url("../img/keyboard_arrow_down.png");
	  /*transform: rotate(90deg);*/
	  left: 64%;
	  bottom: 4%;
	}
}

@media screen and (max-width: 1200px) {
	.bnr_text, .bnr_video{
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.swiper-container2{
		height: 510px;
	}

	.cont_slider{
		height: 590px;
		padding: 70px 0;
	}

	.bnr_text{
		margin-bottom: 50px;
		padding: 0 150px;
	}

	.perf_cards{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	header{
		height: 100%;
		-webkit-background-size: cover;
		background-size: cover;
		padding-bottom: 107px;
	}

	.banner{
		margin-top: 107px;
		display: flex;
		justify-content: space-between;
	}

	.banner{
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.revievs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.revievs_slider{
		margin-left: 0;
		margin: 0 60px;
	}

	.swiper-button-prev2,
	.swiper-button-next2 {
	  position: absolute;
	  width: 20px;
	  height: 13px;
	  top: 64.5%;
	  margin-top: -22px;
	  z-index: 10;
	  cursor: pointer;
	  background-size: 20px 13px;
	  background-position: center;
	  background-repeat: no-repeat;
	}

	.swiper-button-prev2,
	.swiper-container-rtl .swiper-button-next2 {
	  background-image: url("../img/keyboard_arrow_up.png");
	  transform: rotate(-90deg);
	  left: 35px;
	  right: auto;
	}
	.swiper-button-next2,
	.swiper-container-rtl .swiper-button-prev2 {
	  background-image: url("../img/keyboard_arrow_down.png");
	  transform: rotate(-90deg);
	  right: 35px;
	  left: auto;
	}

	.revievs_theme{
		display: flex;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
		margin-bottom: 5px;
		padding: 0 150px;
	}
}

@media screen and (max-width: 992px) {
	.swiper-container2{
		height: 510px;
	}

	.cont_slider{
		height: 590px;
		padding: 70px 0;
	}

	.bnr_text{
		margin-bottom: 50px;
		padding: 0 50px;
	}

	.menu_hamburger{
		display: block;
	}

	.menu ul{
		display: none;
	}

	.sing_up{
		display: none;
	}

	.btn_3{
		display: block;
	}

	.bnr_btn{
		margin-top: 30px;
	}

	.bnr_video{
		display: none;
	}

	.mng_cards{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}

	.mng_card{
		margin: 15px;
	}

	.panel{
		width: 100%;
	}

	.revievs_theme{
		display: flex;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
		margin-bottom: 5px;
		padding: 0 70px;
	}
}

@media screen and (max-width: 792px) {
	.swiper-container2{
		height: 620px;
	}

	.cont_slider{
		height: 590px;
		padding: 70px 0;
	}
}

@media screen and (max-width: 769px) {
	.bnr_text{
		padding: 0 0;
	}
}

@media screen and (max-width: 768px) {
	.mng_card{
		margin: 20px;
	}

	.pc_theme{
		flex-wrap: wrap;
		justify-content: center;
	}

	.pc_theme p{
		padding-top: 20px;
	}

	.our_team_card p{
		width: 100%;
	}

}

@media screen and (max-width: 768px) {
	.rev_slider_card{
		display: flex;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.swiper-container2{
		height: 700px;
	}

	.cont_slider{
		height: 730px;
		padding-top: 30px;
		padding-bottom: 70px;
	}

	.revievs_theme{
		padding: 0 60px;
	}

	.rev_slider_img{
		margin-left: 30px;
		margin-bottom: 15px;
	}

	.btn_rev_align{
		display: flex;
		justify-content: flex-start;
		margin-top: 15px;
	}

	.pr1{
		margin-bottom: 20px;
	}

	.swiper-button-prev2,
	.swiper-container-rtl .swiper-button-next2 {
	  background-image: url("../img/keyboard_arrow_up.png");
	  transform: rotate(-90deg);
	  left: 35px;
	  right: auto;
	  display: none;
	}
	.swiper-button-next2,
	.swiper-container-rtl .swiper-button-prev2 {
	  background-image: url("../img/keyboard_arrow_down.png");
	  transform: rotate(-90deg);
	  right: 35px;
	  left: auto;
	  display: none;
	}

	.swiper-button-prev2,
	.swiper-button-next2 {
	  top: 67.3%;
	  display: none;
	}

	.revievs{
		padding: 0 10px;
	}

	.rev_slide_card_theme h3{
		font-weight: 700;
		font-size: 16px;
		text-align: center;
	}

	.rev_slide_card_theme p{
		text-align: center;
	}
}

@media screen and (max-width: 660px) {
	.form-group{
		width: 100%;
		margin: 10px 20px;
	}

	.message_form{
		width: 100%;
		margin-left: 0;
	}

	.revievs_theme{
		padding: 0 40px;
	}

}

@media screen and (max-width: 576px) {
	.bnr_btn{
		flex-wrap: wrap;
	}

	.menu_hamburger{
		margin-right: 20px;
	}

	.mng_title p{
		font-size: 13px;
		color: #b0bec5;
		width: 100%;
		margin-top: 10px;
		padding: 0 15px;
	}

	.sts_title p{
		font-size: 13px;
		color: #b0bec5;
		width: 100%;
		margin-top: 10px;
		padding: 0 15px;
	}

	.our_team_card p{
		font-size: 13px;
	}

	.our_team_theme p{
		font-size: 13px;
		width: 100%;
	}

	.cf_theme p{
		font-size: 13px;
		width: 100%;
		padding: 0 15px;
	}

	.form-group{
		width: 100%;
		margin: 10px 20px;
	}

	.mob_mes{
		padding: 0;
	}

	.form_section1, .form_section2, .form_section3{
		flex-wrap: wrap;		
	}

	.form_section3{
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;		
	}

	.btn_form1{
		margin-top: 20px;
	}

	.f1{
		justify-content: center;
	}

	.f2{
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.ft_social{
		margin-top: 20px;
	}

	.m_footer_1 ul{
		justify-content: center;
	}

	.m_footer_1 li{
		margin-right: 0;
		padding: 0;
		margin: 0 15px;
	}

	.revievs{
		padding: 0;
	}

	.rev_slide_card_theme p{
		font-size: 12px;
		color: #78909c;
		font-style: italic;
	}

	.revievs_theme{
		padding: 0 20px;
	}

	.revievs_theme h1{
		font-size: 38px;
	}

	.revievs_theme p{
		padding-top: 11px;
		font-size: 14px;
	}

	.revievs_slider{
		margin-left: 0;
		margin: 0 45px;
	}

}

@media screen and (max-width: 532px) {
	.bnr_btn{
		justify-content: center;
	}
}

@media screen and (max-width: 526px) {

}

@media screen and (max-width: 490px) {

}

@media screen and (max-width: 450px) {
	.bnr_text h1{
		font-size: 45px;
	}

	.bnr_text p{
		font-size: 13px;
	}

	.perf_card_1, .perf_card_2, .perf_card_3{
		width: 100%;
		margin: 0 20px;
	}

}


@media screen and (max-width: 430px) {
	.swiper-container2{
		height: 740px;
	}

	.cont_slider{
		height: 770px;
		padding-top: 30px;
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 392px) {

}

@media screen and (max-width: 388px) {
	.swiper-container2{
		height: 770px;
	}

	.cont_slider{
		height: 800px;
		padding-top: 30px;
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 370px) {
	.bnr_text h1{
		font-size: 42px;
	}
}

@media screen and (max-width: 352px) {
	.swiper-container2{
		height: 800px;
	}

	.cont_slider{
		height: 830px;
		padding-top: 30px;
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 350px) {
	.btn_1, .btn_2, .btn_3{
		padding: 13px 25px;
		font-size: 14px;
	}
}

@media screen and (max-width: 328px) {
	.swiper-container2{
		height: 830px;
	}

	.cont_slider{
		height: 860px;
		padding-top: 30px;
		padding-bottom: 70px;
	}
}




